.mdl-layout__content {
    display: flex;
    flex-direction: column;
}

.mdl-layout__header {
    background: rgb(240, 240, 240) !important;
}

.mdl-layout-title {
    flex-shrink: 1;
}

.mdl-spinner {
    width: 100px;
    height: 100px;
    align-self: center;
}

#loader {
    display: flex;
    align-self: center;
    flex-direction: column;
}

pre {
    margin: 0;
}
